{% extends 'base.html'%}
{% block title%} my reads {% endblock %}
{% block content %}
<div class="row m-2">
    <div class="col-md-9 blog-main" style="background-color: #dedede; color:#343232">
        <p class="text-end">{{num}}
            {%if fav%}
            <a href="{% url 'addfavor' post.id%}" class="btn btn-outline-primary btn-small"><i
                    class="bi bi-star-fill"></i>liked</a>
            {%else%}
            <a href="{% url 'addfavor' post.id%}" class="btn btn-outline-primary btn-small"><i class="bi bi-star">
                </i></a>
            {%endif%}
        </p>

        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">created on {{post.date | date:"D d M Y" }} by
            {%if user.is_authenticated%}
            <a href="{% url 'userprofile' user.id %}">{{post.creater}}</a>

            {%else%}
            <a href="{% url 'login'%}">{{post.creater}}</a>
            {%endif%}
        </p>
        {% if post.cover.url != None %}
        <img class="rounded mx-auto d-block" style="width:300px" src="{{post.cover.url}}" alt="">
        {%endif%}
        <p>{{post.content | safe}}</p>

    </div>
    <div class="col-md-2 rounded m-2" style="border-left: 2px solid rgb(161, 153, 153)">
        <i class="bi bi-stickies"></i>
        {%if user.is_authenticated%}
        <p>
            <a class="btn btn-outline-primary btn-small" data-bs-toggle="collapse" href="#collapseExample1"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                create new note here
            </a>
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <form method="POST" class="form-control">
                    {%csrf_token%}
                    <input class="form-control" type="text" name="note_tag" placeholder="Note type (default)">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note_new"></textarea>
                    <input type="submit" value="Save Note" name="note">
                </form>
            </div>
        </div>

        <hr>
        <p>
            <a class="btn btn-outline-primary btn-small" data-bs-toggle="collapse" href="#collapseExample2"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                My-Note-Board
            </a>
        </p>

        <div class="collapse" id="collapseExample2">
            <div class="card card-body">

                {%for note in notes%}
                <div class="card-body bg-secondary text-light m-2 text-start">
                    <p>{{note.text}} </p>
                    <p class="text-end"><strong> on {{note.date | date:"D d M Y"}} {{note.date | time:"H:i"}}</strong>
                    </p>
                    <a class="card-link text-end text-muted"
                        href="{%url 'note-delete' note.id%}"><strong>Delete</strong>
                    </a>
                    {%empty%}
                    No note for this post...
                    {%endfor%}
                </div>
            </div>
        </div>
        {%else%}
        <p class="card-text">To use notesboard, please log in.</p>
        {%endif%}
    </div>
</div>
<hr>
<div class="row m-5">

    <div class="accordion-item">
        <h2 class="accordion-header " id="headingOne">
            <button class="accordion-button fs-3 fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Comment here<i class="bi bi-caret-down-fill"></i>
            </button>
            <hr>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form method="POST" class="d-flex flex-column h-50 pb-5">
                    {%csrf_token%}
                    {{ form.as_table}}
                    <input type="submit" value="Submit" name="comment" />
                </form>
            </div>
        </div>
    </div>

    <div>
        {% for comment in comments %}
        <blockquote class="blockquote">
            <p class="lead">{{comment.text}}</p>
            <footer class="blockquote-footer">via {{comment.name}} | {{comment.date|timesince}} ago
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="bi bi-reply"></i>Reply
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="POST" class="d-flex flex-column h-50 pb-5">
                                {%csrf_token%}
                                {{ form.as_table}}
                                <input type="hidden" name="parent_id" value="{{comment.id}}">
                                <input type="submit" value="reply" name="reply">
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
            {%for child_comment in comment.children%}
            <blockquote class="blockquote" style="text-indent: 50px;">
                <p class="lead">{{child_comment.text}}</p>
                <footer class="blockquote-footer">via {{child_comment.name}} | {{child_comment.date|timesince}} ago |
                    <!-- <div class="dropdown d-inline-block">
                        <a class="card-link text-muted" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Reply:
                        </a>
                    </div> -->
                </footer>
            </blockquote>
            {%endfor%}

        </blockquote>
        {%empty%}
        No Comments at now...
        {%endfor%}


    </div>
</div>
{%endblock%}